* {
  box-sizing: border-box;
}

main {
  width: 90%;
  margin: 0 auto;
  background-color: lightblue;
  padding: 5px 20px 10px;
  max-width: 600px;
}

.entries {
  height: calc(100vh - 170px);
  overflow-y: auto;
}

.entry {
  display: flex;
  justify-content: space-between;
  background-color: lightcyan;
  padding: 4px;
  margin: 4px;
  border: 2px solid rgb(46, 145, 145);
  border-radius: 6px;
}

.entryCb {
  margin-right: 10px;
}

.entryTitle {
  overflow-wrap: anywhere;
}

.entryLeft {
  display: flex;
  align-items: flex-start;
}

.entryRight {
  white-space: nowrap;
}

.newEntryForm {
  display: flex;
  margin: 10px 0;
  height: 30px;
}

.newEntryTb {
  width: 100%;
}

.newEntryBtn {
  margin: 0 5px;
  min-width: 80px;
}

.important {
  background-color: gold;
}