main {
  width: 90%;
  margin: 0 auto;
  background-color: lightblue;
  padding: 5px 20px 10px;
  max-width: 600px;
}

.asOne {
  display: inline;
}

.entry {
  display: flex;
  justify-content: space-between;
  background-color: lightcyan;
  padding: 4px;
  margin: 4px;
}

.newEntryForm {
  display: flex;
  margin: 10px 0;
  height: 30px;
}

.newEntryTb {
  width: 100%;
}

.newEntryBtn {
  margin: 0 5px;
  min-width: 80px;
}

.important {
  background-color: gold;
}